@using BookStore.ViewModels;
@model BookVM;
@{
    BookModel book = null;
    IEnumerable<BookModel> similarBooks = null;

    @if(@Model != null && @Model.book != null){
        ViewData["Title"] = @Model.book.Title;
        book = Model.book;
        similarBooks = Model.similarBooks;
    }
}
<div class="container">
    @if(@book != null)
    {
        <div class="section mt-5 mb-5">
            <h3 class="display-5 text-uppercase border-bottom mb-4">Book Details</h3>
            <div class="row">
                <div class="col-md-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @for(int i=0; i < book.Galary.Count; i++)
                            {
                                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0 ?"active":"")"></li>
                            }
                            
                        </ol>
                        <div class="carousel-inner">
                             @for(int i=0; i < book.Galary.Count; i++)
                            {
                                <div class=" @(i==0?"carousel-item active":"carousel-item") ">
                                    <img asp-append-version="true" src="@book.Galary[i].Url" height="400" class="d-block w-100" alt="book">
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>@book.Title</h1>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-12">
                            <span class="label">By:</span>
                            <span class="text-monospace">@book.Author</span>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-12">
                            <p class="description">@(book.Description == null ? "No description available": book.Description)</p>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Read now</a>
                        </div>
                    </div> 
                    <hr/>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="font-weight-bold">Category - </span>@book.Category</li>
                        <li class="list-group-item"><span class="font-weight-bold">Total Pages - </span>@book.TotalPages</li>
                        <li class="list-group-item"><span class="font-weight-bold">Language - </span>@book.Language</li>
                    </ul>
                </div>
            </div>
        </div>
        @if(similarBooks != null && similarBooks.Any())
        {
            <div class="section mt-5 mb-5">
                <h3 class="display-5 text-uppercase border-bottom mb-4 pt-lg-5">Similar books</h3>
                <div class="row">
                   @foreach (var similarBook in similarBooks)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="@similarBook.CoverImageUrl" alt="@similarBook.CoverImageUrl" class="img-thumbnail"/>
                                <div class="card-body">
                                    <h3 class="card-title">@similarBook.Title</h3>
                                    <p class="card-text">@(similarBook.Description == null ? "No description available": book.Description)</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a asp-controller="book" asp-action="getbook" asp-route-id="@similarBook.Id" class="btn btn-outline-secondary">View Details</a>
                                        <small class="text-muted">@similarBook.Author</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">@book.Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body tall-body">
                       <embed src="@book.BookPdfUrl" class="w-100 tall"></embed>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4>No data found.</h4>
    }
</div>